$orange:#fdb913;
$darkblue:#0898a0;
$blue:#40718f;
$gold:#f2be50;
$white:#fff;
$gray:#231f20;
$lightgray:#a4a4a4;
$red:#ed1b24;
$black:#000;

.orange{color:$orange !important;}
.darkblue{color:$darkblue !important;}
.blue{color:$blue !important;}
.gold{color:$gold !important;}
.white{color:$white !important;}
.gray{color:$gray !important;}
.lightgray{color:$lightgray !important;}
.red{color:$red !important;}
.black{color:$black !important;}

.bg-orange{background-color:$orange !important;}
.bg-darkblue{background-color:$darkblue !important;}
.bg-blue{background-color:$blue !important;}
.bg-gold{background-color:$gold !important;}
.bg-white{background-color:$white !important;}
.bg-gray{background-color:$gray !important;}
.bg-lightgray{background-color:$lightgray !important;}
.bg-red{background-color:$red !important;}
.bg-black{background-color:$black !important;}
