<ul class="tour-facilities-list">
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
    <li>استخر</li>
</ul>
