#login-modal .modal-dialog {
    *width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px !important;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1 !important;
    height: 30px !important;
    line-height: 28px !important;
    transition: all ease-in-out 500ms !important;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3 !important;
    background-color: #c8f7c5 !important;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b !important;
    background-color: #ffcad1 !important;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px !important;
    float: right !important;
    line-height: 28px !important;
    text-align: center !important;
    background-color: #dadfe1 !important;
    margin-left: 5px !important;
    transition: all ease-in-out 500ms !important;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px !important;
    max-width: 100px !important;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec !important;
    border: 1px solid #bdc3c7 !important;
    border-radius: 0px !important;
    outline: 0 !important;
}

.modal-header {
    min-height: 16.43px !important;
    padding: 15px 15px 15px 15px !important;
    border-bottom: 0px !important;
}

.modal-body {
    position: relative !important;
    padding: 5px 15px 5px 15px !important;
}

.modal-footer {
    padding: 15px 15px 15px 15px !important;
    text-align: right !important;
    border-top: 0px !important;
}

.checkbox {
    margin-bottom: 0px !important;
}

.btn {
    border-radius: 0px !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px !important;
}

.btn-link {
    padding: 5px 10px 0px 0px !important;
    color: #95a5a6 !important;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50 !important;
    text-decoration: none !important;
}

.glyphicon {
    top: 0px !important;
}

.form-control {
  border-radius: 0px !important;
}
