@model IEnumerable<PostGroupViewModel>
<aside class="widget widget_tag_cloud">
    <h3 class="widget-title">تگ ها</h3>
    <div class="tagcloud widget-inner">
        @foreach (var item in Model)
{
    <a href="@item.URL" target="@item.Target" rel="@item.Rel">@item.Name</a>
}
    </div>
</aside>
