/*#region صفحه اصلی*/
.select2 {
    padding: inherit !important;
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: auto !important;
}

.select2-selection__rendered {
    height: 47px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 47px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 47px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #01cdce !important;
}

.home-display .roll .cards li {
    padding-bottom: calc( 100% / var(--grid-aspect-ratio-sq) + 40px ) !important;
}
/*#endregion*/
#blowsliderp{
    word-spacing: 100vw;
}