@media screen and (min-width: 720px) and (max-width: 960px) {
  .sectionTitle {
    font-size: 25px;
  }
  header #logo {
    width: 150px;
  }
  header nav  {
    font-size: 0;
  }
  header nav a {
    width: auto;
    font-size: 15px;
    text-align: left;
    padding-right: 10px;
    margin-right: 10px;
  }
  .main.slider {
    padding-top: 60%;
    margin-bottom: 10px;
  }
  .main.search form {
    padding: 10px 0;
    font-size: 0;
  }
  .main.search form input[type=text] {
    margin-left: 10px;
    width: 300px;
  }
  .main.roll .cards {
    width: calc(100% + (100% / 3));
    margin-right: calc((100% / 6)* -1);
  }
  .main.roll a{
    width: calc((100% / 3) - 10px) ;
    padding-top: calc((100% / 3) / 100 * 56.25);
  }
  .main.roll a:after {
    height: 30px;
    line-height: 30px;
  }
  .masonery.gallery .small{
    grid-row:span 2;
    grid-column:span 2;
  }
  .masonery.gallery .big{
    grid-row:span 4;
    grid-column:span 4;
  }
  .masonery.gallery .tall{
    grid-row: span 4;
    grid-column: span 2;
  }
  .masonery.articles .small {
    grid-row: span 3;
    grid-column: span 3;
  }
  .masonery.articles p {
    bottom: -5px;
    left: -5px;
    width: calc(100% - 10px);
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #58595b;
    height: 65px;
    transition: 1s;
    transition-delay: 1s;
    border-radius: 0 0 5px 5px;
  }
  .masonery.articles h2 {
    top: -5px;
    left: -5px;
    width: calc(100% - 10px);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    height: 45px;
    transition: 1s;
    transition-delay: 1s;
    border-radius: 5px 5px 0 0;
  }
  .masonery.cat {
    grid-template-columns: 1fr 1fr;
  }
  .masonery.cat .small {
    grid-row: span 1;
    grid-column: span 1;
  }
  .main.article > *,
  .main.similar,
  .main.comments,
  .main.article > img:first-of-type {
    width: calc(100% - 120px);
  }
  .main.article img {
    width: auto;
    max-width: calc(100% - 120px);
  }
  .main.article .author {
    padding: 20px;
    width: calc(100% - 160px);
    margin: 50px auto;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px;
    grid-gap: 20px;
  }
  .main.article .author img {
    width: 80px;
    height: 80px;
    max-width: 80px;
  }
  .main.article .author p {
    line-height: 20px;
    font-weight: 300;
  }
  .main.article h1 {
    font-size: 25px;
    margin: 25px auto;
  }
  .main.article h2 {
    margin-top: 10px;
  }
  .main.article hr {
    margin: 30px auto;
  }
  .main.article p,
  .main.article li {
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
  }
  .main.article strong,
  .main.article b {
    font-weight: 500;
  }
  footer .join {
    height: 110px;
    padding: 20px 0;
  }
  footer .subscription {
    grid-template-columns: 250px 150px;
    grid-template-rows: 50px 50px;
  }
  footer .subscription label {
    grid-column: span 2;
  }
  footer .social {
    margin-top: 60px;
  }
  footer > .wrapper.details {
    display: grid;
    grid-auto-columns: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 0 10px;
    justify-content: space-between;
  }
  footer .authorizations {
    grid-row: 3 / 4;
    grid-column: 1/-1;
  }












}
