<div id="ConfirmationMessage" style="text-align: center; visibility: hidden;">
    <div style="display: block; height: 35px; text-align: center; line-height: 30px;">
        <span>@ParvazPardaz.Resource.General.Generals.Confirmation</span>
    </div>
    <div style="display: block; text-align: center;">
        <button id="btnYes" class="k-button">@ParvazPardaz.Resource.General.Generals.Yes</button>
        &nbsp;  &nbsp;  &nbsp;
        <button id="btnNo" class="k-button">@ParvazPardaz.Resource.General.Generals.No</button>
    </div>
</div>
